<style>
#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
</style>

      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h2> <%= @comment.user.name %>: <%= @comment.content %> </h2>
              <%= image tag (@comment.image.url(:medium))%>


            <% if can? :update, @comment %>

            <div><%= link_to "Edit", edit_forum_post_comment_path(@forum, @post, @comment)%></div>
            <% end %>
            <% if can? :destroy, @comment %>
            <div><%= link_to "Delete", forum_post_comment_path(@forum, @post, @comment), method: :delete, data: {confirm: "Are you sure?"}%></div>
            <% end %>

                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
